uv
ruff
ty
mypy
fastapi
uvicorn
sqlalchemy
psycopg[binary]
pydantic
pydantic-settings
pydantic[email]
python-dotenv
loguru
python-jose
bcrypt
pytest
pytest-asyncio
pytest-xdist
httpx
httpx[socks]
types-python-jose
alembic
boto3
python-multipart
